@using EHealth.Shared.Models
@model IEnumerable<Medicine>

@{
    ViewData["Title"] = "Medicines";
}

<h1>Medicines</h1>

<form asp-controller="Medicines" asp-action="Search" method="get">
    <p>
        Name: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.Image" />
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Add To Cart",  "AddToCart",   "Cart",     new { MedicineId = item.Id}, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>