@model IEnumerable<LaptopStore.Models.Product>

@{
    ViewData["Title"] = "Product Inventory";
}

<h1>Inventory</h1>

<p>
    @*  <a asp-action="Create">Create New</a> *@
    @Html.ActionLink("New", "Create", "Products", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.Thumbnail" />
            </td>            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @*  
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                *@
                @Html.ActionLink("Edit",         "Edit",        "Products", new { ProductId = item.ID}, new { @class = "btn btn-primary align-middle" })
                @Html.ActionLink("Details",      "Details",     "Products", new { ProductId = item.ID}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete",       "Delete",      "Products", new { ProductId = item.ID}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Add To Cart",  "AddToCart",   "Cart",     new { ProductId = item.ID}, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
